* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
body {
    /* background: rgb(34,55,195);
    background: radial-gradient(circle, rgba(34,55,195,1) 0%, rgba(45,184,253,1) 100%);   */
    background: grey;
      
}


.hero {

    align-items: center;
    justify-content: center;
    background: rgb(34,55,195);
    background: radial-gradient(circle, rgba(34,55,195,1) 0%, rgba(45,184,253,1) 100%);  
       color: #fff; 
    gap: 16px;
    padding: 16px 0;

    min-height: 100vh;
    min-height: 100dvh;

}
.row {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;}
img {

    background: rgb(34,55,195);
    background: radial-gradient(circle, rgba(34,55,195,1) 0%, rgba(45,184,253,1) 100%);  
         max-width: 100%;
}

.vision {
    width: 90%;
    max-width: 600px;
    margin: 10px auto;
}
a {
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: #2c90af;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 6px;
}
.link:hover, .link:active {
font-size: 1rem;
font-weight: 400;
background-color: black;
color: white;
}
/* a:visited {
    text-decoration: none;
} */
 section {
    background-color: black;
    min-height: 60dvh;
    padding: 3rem 1rem;
 }
.vision {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem auto;
    padding: 3rem 1rem;
    margin-top: 20%;
}
.footer p {
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}
.references {
    margin: 1rem;
    gap: 16px;
    justify-content: center;


}

.footer {
    width: 90%;
    max-width: 500px;
    margin: 1rem auto;
    text-align: center;
}

@media (min-width: 600px){
    section {
        width: 600px;
        margin: 2rem auto;
    }
}