* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
body {
    /* background: rgb(34,55,195);
    background: radial-gradient(circle, rgba(34,55,195,1) 0%, rgba(45,184,253,1) 100%);   */
    background: white;
      
}


.hero {

    align-items: center;
    justify-content: start;

    background: rgb(34,55,195);
    background: radial-gradient(circle, rgba(34,55,195,1) 0%, rgba(45,184,253,1) 100%);  
       color: #fff; 
    gap: 1.5rem;
    padding: 16px 0;

    min-height: 95vh;
    min-height: 95dvh;

}


.top {
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: 5dvh auto;
}
.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}
.image {

    background: rgb(34,55,195);
    background: radial-gradient(circle, rgba(34,55,195,1) 0%, rgba(45,184,253,1) 100%); 
    max-width: 100%;
    max-height: auto;
}

.text {
    font-size: 1.4rem;
}

.vision {
    width: 90%;
    max-width: 600px;
    margin: 10px auto;
}
.link {
    text-decoration: none;
    cursor: pointer;
    background-color: grey;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    width: 7rem;
}
.link:hover, .link:active {
font-size: 1rem;
font-weight: 400;
background-color: black;
color: white;
}
/* a:visited {
    text-decoration: none;
} */
 section {
    background-color: black;
    min-height: 60dvh;
    padding: 3rem 1rem;
    place-content: center;

 }
.vision {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem auto;
    padding: 3rem 1rem;
    font-size: 1.3rem;
    line-height: 1.8rem;

    
}
.footer p {
    font-size: 1.5rem;
    font-weight: 700;
    color: grey;
    text-transform: uppercase;
}
.references {
    margin: 1rem;
    gap: 16px;
    justify-content: center;


}

.footer {
    width: 90%;
    max-width: 500px;
    margin: 1rem auto;
    text-align: center;
    min-height: 20dvh;
}

@media (min-width: 600px){
    section {
        width: 600px;
        margin: 2rem auto;
    }
}